<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Rafael Blanco RBV | Soluciones Web Premium</title>
        <script>
            const preferredLang = localStorage.getItem("preferred_lang");
            const userLang = navigator.language;

            if (preferredLang === "en") {
                window.location.replace("/en/");
            } else if (preferredLang === "es") {
                window.location.replace("/es/");
            } else if (userLang.startsWith("en")) {
                window.location.replace("/en/");
            } else {
                window.location.replace("/es/");
            }
        </script>
    </head>
    <body> </body>
</html>
